#aware
{
    font-size:9px;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}
.container {
    width: 30px;
    margin: auto;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #f8f8f8;
}
input {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
#result {
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
}
.navbar {
    background-color: #333;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
    display:flex;
    justify-content: space-around;
}
img {
    width: 600px; 
    height: auto; /* Automatically adjust height */
}

